name: Build and deploy ASP.Net Core app to Azure Web App - webapp-sam1000

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build with dotnet
        run: dotnet build ./webapp-sam-lab13.csproj --configuration Release

      - name: dotnet publish
        run: dotnet publish ./webapp-sam-lab13.csproj -c Release -o ./myapp

      - name: List published files
        run: dir ./myapp   # For Windows, use 'ls' for Unix/Linux systems

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app   # Ensure this name matches in the download step
          path: ./myapp    # Path to the published output directory

  deploy:
    runs-on: windows-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app  # This must match the name used in the upload step
      
      - name: List downloaded files
        run: dir ./myapp   # Verify that files were downloaded successfully

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_1B523CB151D542999882E1948BB49598 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_7DFF7E532044424A9F581716455AE067 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_01449786FDF840CD8F19E6AEA9740492 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'webapp-sam1000'
          slot-name: 'Production'
          package: './myapp'  # This should be the output directory
